
.idea/workspace.xml
.idea/misc.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_50_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_50_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_50_jar.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_places_placereport_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_places_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_maps_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_location_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_gms_play_services_base_17_0_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_2_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_2_0_beta01_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0_jar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_1_0_jar.xml
.idea/libraries/Gradle__androidx_activity_activity_1_0_0_aar.xml
.idea/gradle.xml
.idea/codeStyles/Project.xml
.idea/caches/gradle_models.ser
.idea/caches/build_file_checksums.ser
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/gc.properties
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileContent/fileContent.lock
.gradle/5.4.1/fileChanges/last-build.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/fileHashes.bin
.idea/gradle.xml
.gradle/*
.idea/*
